.PageFooter {
		grid-area: page-footer;

    footer {
			display: flex;
			justify-content: space-evenly;
			background: inherit;
			text-align: center;
			padding: 10px;

			.copyright {
				color: inherit;
				border-top: 0px;
				font-size: 17px;
			}
    }
}
