.LoadingIndicator {
	text-align: center;

	i {
		font-size: 3em;

		-webkit-animation: rotation 2s linear infinite;
		animation: rotation 2s linear infinite;

		@keyframes rotation {
			from {
				transform: rotate(0deg);
			}
			to {
				transform: rotate(359deg);
			}
		}
	}
}
