.LoginControl {
	display: flex;
	align-items: center;
	min-width: 8%;

	span {
		margin-right: 1em;
	}

	select {
		background: #66adeb;
    border: none;
    text-decoration: underline;
    font-size: 1.4em;
		color: white;
		line-height: 2em;
	}
}
