// styling for dark mode
html[dark-mode="true"] {
	body {
		background: #000508;
	}

	body, h1, h2, h3, p, span, button {
		color: #dddbe0;
	}

	.modal {
		background: #000508;
		box-shadow: 0 4px 12px #00000080;
	}

	// force primary color
	input[type="submit"], .button-primary {
		background-color: #528ec2;
		border-color: #528ec2;
	}

	.modal-head {
		background: #528ec2;
	}

	.modal-footer {
		background: #000910;
	}

	.modal-body {
		background: #000508;
	}

	.card {
		background: #666666;
	}

	.alert-info {
		background: #688ba5;
	}

	.alert-danger {
		background: #a56c68;
	}
}
