body, h1, h2, h3, p, span, button, input {
	font-family: Raleway;
}

// make apps take 100% of the height so the footer renders correctly
.app-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;

	.page-content {
		flex-grow: 1;
	}
}

// give all pages padding
.Page {
	padding: 4em 1em;
	max-width: 1200px;
	margin: 2em auto;
	flex-grow: 1;

	@media (max-width: 1300px) {
		font-size: 0.7em;
		max-width: 900px;
		padding: 1.9em 0.5em;
	}

}

// make modals wider
.modal {
	min-width: 400px;
	width: 55%;
}

button {
	text-transform: none;
}

// force info color
.button-info {
	background-color: #949494;
	border-color: #949494;
	color: white;
}

// force primary color
.button-primary {
	background-color: #66adeb;
	border-color: #66adeb;
	color: white;

	// include this here, since input's can have this style
	text-transform: none;
}

.modal-head {
	background: #66adeb;
	color: white;
}

label, p {
	font-size: 1.2em;
}

.alert {
	margin-top: -3em;
	height: 4em;

	.toast-content {
		height: 100%
	}
}
